# Vowena Site Configuration
NEXT_PUBLIC_SITE_URL=https://vowena.xyz
NEXT_PUBLIC_DASHBOARD_URL=https://dashboard.vowena.xyz
NEXT_PUBLIC_DOCS_URL=https://vowena.xyz/docs

# Analytics (Umami)
NEXT_PUBLIC_UMAMI_WEBSITE_ID=43fd433d-4d67-473b-9200-196b67ff4265
NEXT_PUBLIC_UMAMI_SRC=https://cloud.umami.is/script.js
